<div th:fragment="nav" class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%">
            <a class="navbar-brand" href="/">Tiger App</a>
            <!--<div class="twelve columns">-->
                <!--<login-component></login-component>-->
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/image">Upload Images</a>
                    </li>
                </ul>
                <span class="navbar-text"><login-component></login-component></span>
            </div>
        </nav>
    </div>
</div>
