<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Login')" />
<body>
<div id="root">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>
                    All Attributes
                </h1>

                <table class="table table-hover">

                    <!--Table head-->
                    <thead>
                    <tr>
                        <th v-on:click="onSelectSort()">Select</th>
                        <th>Attribute Key</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    <template v-for="(item, index) in attributes">
                        <tr v-on:click="onSelect(item)">
                            <td><input type="checkbox" id="checkbox1" class="styled" v-model="item.selected"></input></td>
                            <td>{{item.attributeKey}}</td>
                            <td>{{item.type}}</td>
                        </tr>
                    </template>
                    </tbody>
                    <!--Table body-->
                </table>

            </div>
            <div class="col-sm-6">
                <form enctype="multipart/form-data"  v-if="isInitial || isSaving">
                        <h1>Design</h1>
                            <p v-if="isInitial">
                                <button type="button" class="btn btn-primary" v-on:click="selectAll()">Select All</button>
                                <button type="button" class="btn btn-danger" v-on:click="deSelectAll()">Remove All</button>
                                <button type="button" class="btn btn" v-on:click="save()">Save</button>
                                <button type="button" class="btn btn" v-on:click="saveAndDownload()">Download</button>
                            </p>
                            <p v-if="isSaving">
                                Uploading {{ fileCount }} files...
                            </p>
                </form>
                <!--SUCCESS-->
                <div v-if="isSuccess">
                    <h1>Uploaded result</h1>
                    <div class="alert alert-success">
                        <strong>Success!</strong> Saved attributes selection.
                    </div>
                    <p>
                        <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="javascript:void(0)" v-on:click="reset()">Keep designing</a>
                    </p>
                </div>
                <!--FAILED-->
                <div v-if="isFailed">
                    <h2>Uploaded failed.</h2>
                    <p>
                        <a class="btn btn-danger btn-lg active" role="button" aria-pressed="true"  href="javascript:void(0)" v-on:click="reset()">Try again</a>
                    </p>
                    <pre>{{ uploadError }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
<script>
    var app = new Vue({
        el: '#root',
        mounted() {
            this.isLoggedIn();
            this.reset();
            this.fetchExistingAttributes();
        },
        data:{
            STATUS_INITIAL: 0,
            STATUS_SAVING : 1,
            STATUS_SUCCESS : 2,
            STATUS_FAILED : 3,
            STATUS_SORT_SELECTED: true,
            uploadedFiles: [],
            uploadError: null,
            currentStatus: null,
            uploadFieldName: 'file',
            justUploadedFiles: [],
            attributes: []
        },
        computed: {
            isInitial() {
                return this.currentStatus === this.STATUS_INITIAL;
                },
            isSaving() {
                return this.currentStatus === this.STATUS_SAVING;
            },
            isSuccess() {
                return this.currentStatus === this.STATUS_SUCCESS;
            },
            isFailed() {
                return this.currentStatus === this.STATUS_FAILED;
            }
    },
        methods: {
            isLoggedIn(){
                if(getCookie("access_token")){
                    axios.get("/getUsername?access_token=" + getCookie("access_token"))
                        .then(function(response){
                            return true;
                        })
                        .catch(function(error){
                            document.location.replace("/login");
                        });
                 }
                 else{
                         document.location.replace("/login");
                    }
            },
            onSelect(item){
                item.selected = !item.selected;
            },
            selectAll(){
                _.map(this.attributes,function(item){return item.selected = true;});
            },
            deSelectAll(){
                _.map(this.attributes,function(item){return item.selected = false;});
            },
            onSelectSort(){
                if(this.STATUS_SORT_SELECTED){
                    this.attributes = _.sortBy(this.attributes,function(file){ return !file.selected; })
                    this.STATUS_SORT_SELECTED = false;
                }
                else{
                    this.attributes = _.sortBy(this.attributes,function(file){ return file.selected; })
                    this.STATUS_SORT_SELECTED = true;
                }
            },
            reset() {
                this.currentStatus = this.STATUS_INITIAL;
                this.uploadError = null;
                this.justUploadedFiles = [];
            },
             save(formData) {
                this.currentStatus = this.STATUS_SAVING;
                this.upload(formData);
            },
            fetchExistingAttributes(){
                    axios.get("/api/attributes/" + getCookie("username")).then(function(response){
                    this.attributes = [];
                    this.attributes = response.data;
                    this.attributes = _.sortBy(this.attributes,function(file){ return file.attributeKey; })

                }.bind(this));
            },
            fetchExistingUpload(){
                axios.get("/api/fetchUpload/" + getCookie("username")).then(function(response){
                    this.uploadedFiles = [];
                    this.uploadedFiles = response.data;
                    this.uploadedFiles = _.sortBy(this.uploadedFiles,function(file){ return -file.dateCreated; })
                }.bind(this));
            },
            save(){
                axios({
                        method:'post',
                        url:'api/attributes?access_token=' + getCookie("access_token"),
                        auth:{username:'my-trusted-client',password:'secret'},
                        headers: {"Content-type": "application/json"},
                        data:this.attributes
                    }) .then(x => {
                        this.currentStatus = this.STATUS_SUCCESS;
                        this.fetchExistingAttributes();
                    })
                    .catch(err => {
                        this.uploadError = err.response;
                        this.currentStatus = this.STATUS_FAILED;
                    });
            },
            saveAndDownload(){
              axios({
                        method:'post',
                        url:'api/attributes?access_token=' + getCookie("access_token"),
                        auth:{username:'my-trusted-client',password:'secret'},
                        headers: {"Content-type": "application/json"},
                        data:this.attributes
                    }) .then(x => {
                        this.download();
                    })
                    .catch(err => {
                        this.uploadError = err.response;
                        this.currentStatus = this.STATUS_FAILED;
                    });
            },
            download(){
              axios({
                        method:'get',
                        url:'upload?access_token=' + getCookie("access_token"),
                        auth:{username:'my-trusted-client',password:'secret'},
                        headers: {"Content-type": "application/x-www-form-urlencoded"},
                        responseType: 'blob'
                    }) .then(response => {
                        this.currentStatus = this.STATUS_SUCCESS;
                        var url = window.URL.createObjectURL(new Blob([response.data]));
                        var link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'entities.xml'); //or any other extension
                        document.body.appendChild(link);
                        link.click();
                    })
                    .catch(err => {
                        this.uploadError = err.response;
                        this.currentStatus = this.STATUS_FAILED;
                    });
            },
            upload(formData){
                axios({
                        method:'post',
                        url:'api/upload?access_token=' + getCookie("access_token"),
                        auth:{username:'my-trusted-client',password:'secret'},
                        headers: {"Content-type": "multipart/form-data"},
                        data:formData
                    }) .then(x => {
                        this.currentStatus = this.STATUS_SUCCESS;
                        this.justUploadedFiles = [].concat(x);
                        this.fetchExistingUpload();
                    })
                    .catch(err => {
                        this.uploadError = err.response;
                        this.currentStatus = this.STATUS_FAILED;
                    });
            },
           filesChange(fieldName, fileList) {
            const formData = new FormData();
            if (!fileList.length) return;
            Array.from(Array(fileList.length).keys()).map(x => {
                formData.append(fieldName, fileList[x], fileList[x].name);
            });
            this.save(formData);
            }
        }
    });
</script>
</html>