<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Login')" />
<body>
<div id="root">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                <h4 id="loginHeader">Login</h4>
            </div>
        </div>
        <div  class="col-sm-6 offset-sm-2">
            <div class="form-group">
                <label for="username">Username</label>
                <input v-model="username" class="form-control" type="text" placeholder="User name" id="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input v-model="password" class="form-control" type="password" placeholder="Password" id="password"/>
            </div>
            <button class="btn btn-primary" type="submit" v-on:click="login"> Submit </button>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
<script>
    var app = new Vue({
        el: '#root',
        mounted() {
            Event.$on('logged-in',function(){
                window.location.replace("/");
            })
        },
        data:{
            username: '',
            password: '',
        },
        methods: {
            login(){
                var params = new URLSearchParams();
                params.append('grant_type', 'password');
                params.append('username', this.username);
                params.append('password',this.password);
                axios({
                    method:'post',
                    url:'oauth/token',
                    auth:{username:'my-trusted-client',password:'secret'},
                    headers: {"Content-type": "application/x-www-form-urlencoded; charset=utf-8"},
                    data:params
                }).then(function(response){
                    set_cookie("access_token",response.data.access_token);
                    set_cookie("username",this.username.value);
                    document.location.replace("/");
                });
            }
        }
    });
</script>
</html>